* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-alert: #c72727;
  --opacity-color: #333;
  /*  */
  --showcase-height: 60vh
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.active {
  background: var(--bg-alert);
  color: white;
}


/* header */
header .container {
  display: flex;
  background: #fff;
  height: 5rem;
  align-items: center;
}

header .container .logo {
  flex-grow: 6;
}

header img {
  height: 40px;
}

header .container .social-media {
  font-size: 2rem;
  flex-grow: 3;
  display: flex;
  justify-content: end;
  color: #777777;
}

header .container .nav {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}

header .container ul li {
  padding: 0.5rem;
}

/* Showcase */
.showcase-container {
  position: relative;
}

.showcase-container .overlay {
  position: absolute;
  content: '';
  width: 100%;
  height: var(--showcase-height);
  background: var(--opacity-color);
  opacity: 0.5;
}

.showcase-container .showcase .showcase-img {
  background: url('../img/featured.jpg') no-repeat center center/cover;
  height: var(--showcase-height);
}

.showcase-container .text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--showcase-height);
  display: grid;
  grid-template-columns: 1100px;
  justify-content: center;
}

.showcase-container .showcase-text-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
  padding: 3rem;
}